@import '../../../../ui-kit/theme/colors';
@import '../../../../css/_variables.scss';

.EPDLeadsFeed {
  display: flex;
  flex-direction: column;
  gap: 14px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: $screen-md-min) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__title {
    display: flex;
    gap: 8px;
    align-items: center;
    color: $black1;
  }

  &__total {
    color: $gray8;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    gap: 16px;
  }

  &__grid {
    .padding-sm .DataGrid__cell {
      padding: 8px 24px;
    }
  }

  .MirrorScrollbar {
    margin: 0 -24px;

    .DataGrid {
      padding: 0 24px;
    }
  }

  @media (max-width: $screen-md) {
    &__controls {
      flex-direction: column;
    }

    &__view {
      order: -1;
    }
  }

  @media (max-width: $screen-xs) {
    &__pagination {
      margin-bottom: 50px; // @notice not hide under LiveChat
    }
  }
}
